@charset "UTF-8";
/* CSS Document */

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
		height:12px;
}
 
/* Track */
::-webkit-scrollbar-track {
		outline: #ffffff;
		background: #ededed;
    -webkit-border-radius: 0px;
    border-radius: 0px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #232323;
}
::-webkit-scrollbar-thumb:window-inactive {
		background: #232323;
}